
<div>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Expand at sm</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
                aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample03">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/registro']">Registrarse</a>
                    </li>
                    
                    
                    
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/cerrarSesion']">Cerrar Sesion</a>
                        </li>
                    
                   
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/inicioSesion']">Iniciar Sesion</a>
                        </li>
                    
                    <!--marcas-->
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                            aria-expanded="false">Marcas</a>
                        <ul class="dropdown-menu">
                            @for (marca of marcas; track marca) {
                                <li class="list-item">
                                    <a [routerLink]="['/marca',marca]" class="btn">
                                        {{marca}}
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
